<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Naptown Roller Girls - wireframes</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons|css?family=Open+Sans:300,300italic,400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <!--<![endif]-->
  <link href="/css/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<div class="pure-menu pure-menu-horizontal navbar">
  <div class="brand-logo"><a href="/">Logo</a></div>
  <ul class="pure-menu-list">
    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
      <a href="/about/" id="menuLink1" class="pure-menu-link">About</a>
      <ul class="pure-menu-children">
        <li class="pure-menu-item"><a href="/about/history/" class="pure-menu-link">History</a></li>
        <li class="pure-menu-item"><a href="/about/FAQ/" class="pure-menu-link">FAQ</a></li>
        <li class="pure-menu-item"><a href="http://shop.naptownrollergirls.com/" class="pure-menu-link">Merchandise</a></li>
        <li class="pure-menu-item"><a href="/about/presskit/" class="pure-menu-link">Press Kit</a></li>
        <li class="pure-menu-item"><a href="/about/sponsors/" class="pure-menu-link">Sponsors</a></li>
      </ul>
    </li>
    <li class="pure-menu-item"><a href="/schedule/" class="pure-menu-link">Schedule</a></li>
    <li class="pure-menu-item"><a href="/news/" class="pure-menu-link">News</a></li>
    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
      <a href="/team/" id="menuLink2" class="pure-menu-link">Team</a>
      <ul class="pure-menu-children">
        <li class="pure-menu-item"><a href="/team/skaters/" class="pure-menu-link">Skaters</a></li>
        <li class="pure-menu-item"><a href="/team/officials/" class="pure-menu-link">Officials</a></li>
        <li class="pure-menu-item"><a href="/team/supportstaff/" class="pure-menu-link">Support Staff</a></li>
      </ul>
    </li>
    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
      <a href="/join/" id="menuLink3" class="pure-menu-link">Join</a>
      <ul class="pure-menu-children">
        <li class="pure-menu-item"><a href="/join/learntoskate/" class="pure-menu-link">Learn to Skate</a></li>
        <li class="pure-menu-item"><a href="/join/tryoutsandbootcamps/" class="pure-menu-link">Tryouts &amp; Boot Camps</a></li>
        <li class="pure-menu-item"><a href="/join/becomeanofficial/" class="pure-menu-link">Become an Official</a></li>
        <li class="pure-menu-item"><a href="/join/visit/" class="pure-menu-link">Visiting/Transfer Skaters</a></li>
        <li class="pure-menu-item"><a href="/join/volunteers/" class="pure-menu-link">Volunteers</a></li>
      </ul>
    </li>
    <li class="pure-menu-item"><a href="/contact/" class="pure-menu-link">Contact</a></li>
  </ul>
</div>

<!--
<nav class="blue-grey">
  <div class="nav-wrapper">
      <a href="/" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/about/">About</a></li>
        <li><a href="/schedule/">Schedule</a></li>
        <li><a href="/news/">News</a></li>
        <li><a href="/team/">Team</a></li>
        <li><a href="/join/">Join</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
  </div>
</nav>
-->
