/* Colors */

$main: #be1e2d;
$light: #ffffff;
$dark: #000000;
$transparent-light: rgba(0,0,0,.5);
$transparent-dark: rgba(0,0,0,.75);

/* */

$main-selection-color: #be1e2d;
$main-selection-color-text: #ffffff;
