body, .pure-g [class *= "pure-u"]  {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: $light;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

::-moz-selection {
  background: $main-selection-color;
  text-shadow: none;
  color: $main-selection-color-text;
}

::selection {
  background: $main-selection-color;
  text-shadow: none;
  color: $main-selection-color-text;
}

.col {
  border: 5px solid $light;
  margin: 0;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  font-weight: 300;
  background-color: $grey;
  color: $light;
  padding: 0;
}
